@model List<Entry>
<div class="row">
    @foreach (Entry item in Model)
    {
            <div class="col-md-6" style="background-color: grey">
                <div>
                    <strong>@item.Category</strong>
                    <h3>@item.Title</h3>
                    <p>@item.Content</p>
                </div>
            </div>
    }
</div>