@model List<Entry>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Homepage Blog</h1>
    <p>Welcome to my blog!</p>
</div>


<div id="partialZone">
    @*Here will the partial view be rendered*@
</div>

@section Scripts {
    <script>
                $('#partialZone').load("/Home/BlogArticlesPartial")
    </script>
}